.navbar-top-wrap {
	height: 9.5rem;
}
.navbar-top .nav-wrap ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navbar-top .nav-wrap ul li a {
	text-decoration: none;
}
.navbar-top .social-icons a:last-child {
    /* padding-right: 0; */
    /* width: fit-content; */
}
/* nav */
body .navbar-top {
	width: 100%;
	padding-top: 1rem;
	/* padding-bottom: 1rem; */
}
body .navbar-top .container {
    position: relative;
}
body .navbar-top .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.navbar-top .bottom-menu-wrapper {
    padding-top: 1rem;
	padding-bottom: 2rem;
}
body .navbar-top .row .nav-logo a {
    display: block;
    width: 14rem;
}
.navbar-top ul.navbar-nav > .current-menu-item > a:after {
    width: auto;
    height: 0.09rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: #6C6CFF;
    transform: scaleX(1);
    transition: all .3s;
    margin: 0rem 1.2rem;
}
.navbar-top ul.navbar-nav > .current-menu-item.nav-button > a:after {
	display: none;
}
body .navbar-top .row .nav-logo a img {
	display: block;
	max-width: initial;
	width: 100%;
}
.navbar-top ul.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -1rem;
}
.navbar-top ul.navbar-nav li {
	position: relative;
}
.navbar-top ul.navbar-nav li a {
    display: block;
    padding: 1rem 1.2rem;
    color: #fff;
    font-size: 0.802rem;
	line-height: 1.4;
    letter-spacing: 0.0rem;
    font-weight: 400;
    opacity: 0.9;
}
.navbar-top ul.sub-menu li a {
    color: #fff;
    text-align: left;
	opacity: 0.9;
}
.nav-icon {
	display: none;	
}
.arrowdown {
    display: none;
}
.navbar-top ul.navbar-nav > li.nav-button a {
    background-color: #6C6CFF ;
    color: #fff ;
    margin-left: 1.5rem;
	padding: 0.7rem 2.4rem;
	transition: 0.35s;
}
.navbar-top ul.navbar-nav > li.nav-button a:hover {
    background-color: #6C6CFFAA;
}
.navbar-top ul.navbar-nav .sub-menu li a {
    color: #343638;
    margin: 0;
    background-color: transparent ;
	padding: 0.8rem 1.2rem;
}
.navbar-top ul.navbar-nav .sub-menu li a:hover {
    background-color: #6C6CFF;
    color: #fff;
}
.nav-search-wrapper {
    position: relative;
    margin-left: 1rem;
    width: 19.5rem;
}
.nav-search-wrapper button {
    position: absolute;
	top: 55%;
	right: 0.5rem;
	border: none;
	background-color: transparent;
	width: auto;
	transform: translateY(-50%);
}
.nav-search-wrapper input {
    font-size: 0.802rem;
    margin: 0;
    padding: 0.75rem 0.8rem;
}


@media (min-width: 992px){	
	body.admin-bar .navbar-top  {
		position: unset;
		top: 32px;
		width: 100%;
	}
	body .navbar-top.animated,
	body.admin-bar .navbar-top.animated {
		top: 100%;	
		top: -100px;
		box-shadow: 0 0 0.25rem rgba(0,0,0,0.2);
		transition: 0.35s;	
	}

	body .navbar-top.animated.animated-initial.animated-passed {
		position: fixed;
		z-index: 101;
		transition: 0.35s;	
		/* top: -100px; */
		/* top: -12rem; */
	}
	body .navbar-top.animated.animated-initial.animated-passed {
		top: 0;
		transition: 0.35s;
	}
	body.admin-bar .navbar-top.animated.animated-initial.animated-passed {
		top: 32px;
		transition: 0.35s;
	}	
	body .navbar-top.no-header-image {
		background: #030519;
		box-shadow: 0 0 0.25rem rgba(0,0,0,0.2);
	}
	body.admin-bar .navbar-top.no-header-image {
		/* top: 32px; */
	}
	
	.navbar-nav .menu-item-has-children .sub-menu {
		max-height:0;
		height: 0;
		overflow: hidden;
		transition:max-height 0.75s ease-out; 
	}
	.navbar-nav .menu-item-has-children:hover .sub-menu {
		transition: max-height 0.75s ease-out;
		height: auto;
		max-height: 20rem;
		max-width: 17rem;
		min-width: 17rem;
		display: block;
	}
	body .navbar-top ul.navbar-nav ul.sub-menu {
		position: absolute;
		z-index: 102;
		top: 100%;
		left: 0%;
		background-color: #fff;
		text-align: right;
		border-top: 0.02rem solid #0496ff;
		display: none;
	}
	body .navbar-top.animated-initial.animated-passed.animated ul.navbar-nav ul.sub-menu {
		background-color: #fff;
	}
	
	.top-menu-wrap {
		margin-right: 5rem; 
	}

	
}
@media (max-width: 991px){	
	.navbar-top-wrap {
		/* height: 3rem; */
	}
	body .navbar-top .nav-logo.mobile-view {
		display: block;
	}
	body.admin-bar .navbar-top {
		top: 32px;
	}
	body .navbar-top .container  {
		border: 0;
	}	
	body .navbar-top .row {
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
	body .navbar-top .row .nav-logo {
		position: relative;
		z-index: 102;
	}
	body .navbar-top .nav-logo a img {
		width: 4rem;
	}
	
	body.admin-bar .navbar-top  {
		position: unset;
		top: 32px;
		width: 100%;
	}
	body .navbar-top.animated-initial,
	body.admin-bar .navbar-top.animated-initial {
		top: -100px;	
		background: #030519;
		box-shadow: 0 0 0.25rem rgba(0,0,0,0.2);
	}

	body .navbar-top.animated-initial.animated-passed {
		position: unset;
		z-index: 101;
		transition: 0.35s;	
	}
	body .navbar-top.animated-initial.animated-passed.animated {
		top: 0;
		transition: 0.35s;
	}
	body.admin-bar .navbar-top.animated-initial.animated-passed.animated {
		top: 32px;
		transition: 0.35s;
	}	
	body .navbar-top.no-header-image {
		position: unset;
		top: 0;
		background: #030519;
		box-shadow: 0 0 0.25rem rgb(0 0 0 / 20%);
		padding-top: 1.3rem;
		padding-bottom: 3rem;
	}
	body.admin-bar .navbar-top.no-header-image {
		top: 32px;
		padding: 1.5rem 0 3rem;
	}
	.arrowdown {
		display: block;
	}
	.navbar-top .container {
		width: 100%;
	}
	.navbar-top .nav-menu {
		position: absolute;
		z-index: 101;
		top: 100%;
		right: -1.6rem;
		width: calc(100% + 3.2rem);
		background-color: #030519;
		transition: 1s;
	}
	.navbar-top .nav-menu .navbar-nav-collapse {
		max-height:0;
		height: 0;
		overflow: hidden;
		transition:max-height 0.75s ease-out; 
	}
	.navbar-top .nav-menu.open .navbar-nav-collapse {
		transition: max-height 0.75s ease-out; 
		height: auto;
		max-height: calc(100vh - 0rem);
		padding-bottom: 1.5rem;
	}
	.nav-icon {
		display: block;
		position: relative;
		z-index: 102;
		float: right;
		width: 2rem;
		height: 2rem;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0.03rem;
		background-color: transparent;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		outline: 0;
	}
	.nav-icon span {
		display: block;
		opacity: 1;
		position: absolute;
		left: 5px;
		width: 24px;
		height: 3px;
		border-radius: 4px;
		background: #fff;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}
	.nav-icon span:nth-child(1) {
		top: 8px;
	}
	.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
		top: 17px;
	}
	.nav-icon span:nth-child(4) {
		top: 26px;
		width: 15px;
	}
	.nav-icon.open span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
	.nav-icon.open span:nth-child(2) {
		transform: rotate(45deg);
	}
	.nav-icon.open span:nth-child(3) {
		transform: rotate(-45deg);
	}
	.nav-icon.open span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
	.navbar-top .nav-menu.nav-wrap.open {
		padding-bottom: 8rem;
	}
	.navbar-top ul.navbar-nav {
		flex-wrap: wrap;
		text-align: right;
		margin-right: 1rem;
		margin-left: 1rem;
	}	
	.navbar-top ul.navbar-nav li {
		width: 100%;
		text-align: left;
	}
	.navbar-top ul.navbar-nav>li:first-child {
		padding-top: 1em;
	}
	.navbar-top .navbar-nav > li a {
		padding: 0;
	}
	.navbar-top ul.navbar-nav > li > a {
		display: inline-block;
		color: #fff;
		padding: 1rem 0.6rem;
	}
	.navbar-top ul.navbar-nav > li.nav-button a {
		margin-left: 0rem;
		width: 100%;
		text-align: center;
	}
	.navbar-top ul.navbar-nav .sub-menu {
		margin-right: 0;
		border-right: unset;
	}
	.navbar-top ul.navbar-nav .sub-menu li {
		display: block;
		padding: 0;
	}
	.navbar-top ul.navbar-nav .sub-menu li a {
		display: inline-block;
		min-width: initial;
		padding: 0.4rem 1.5rem;
		border: 0;
		color: #fff;
		font-size: 0.83rem;
	}
	.navbar-top ul.navbar-nav .menu-item-has-children.open-mobile {
		background-color: #336B83;
		padding-bottom: 1.25rem;
	}
	.navbar-top ul.navbar-nav .menu-item-has-children .sub-menu {
		max-height:0;
		height: 0px;
		overflow: hidden;
		transition:max-height 0.75s ease-out; 
	}
	.navbar-top ul.navbar-nav .menu-item-has-children .sub-menu.open-mobile {
		transition: max-height 0.75s ease-out;
		height: auto;
		max-height: unset;
		overflow-y: unset;
	}		
	.navbar-top ul.navbar-nav .sub-menu {
		position: initial;
		left: 0;
		transform: none;
		box-shadow: initial;
	}
	.arrowdown {
		display: inline-block;
		position: absolute;
		top: 1.6rem;
		width: 0rem;
		height: 0rem;
		font-size: 0.2em;
		color: #fff;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.75s;
		transform: rotate(270deg);
	}
	.arrowdown svg {  
		width: 0.8rem;
		height: 0.8rem;
	}
	.arrowdown.close-arrow {
		transform: translate(-2px,-16px) rotate(0deg);
	}
	.arrowdown.open-arrow {
		transform: rotate(0deg);
	}
	.navbar-top ul.navbar-nav > li.nav-button a {
		margin: 1.2rem 0 0;
		display: none;
	}
	.navbar-top ul.navbar-nav > li.nav-button.mobile-lg {
		padding: 0 0.6rem;
	}
	.navbar-top ul.navbar-nav > li.nav-button.mobile-lg a {
		display: block;
		font-size: 0.901rem;
		padding: 0.5rem 2rem;
		line-height: 1.4;	
	}	
	body .navbar-top .row.desktop-view {
		display: none;
	}
	body .navbar-top .row.bottom-menu-wrapper {
		display: block;
	}
	body .navbar-top .nav-menu-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.nav-search-wrapper {
		margin: 0 auto;
		margin-top: 1.5rem;
		width: 100%;
	}
	.mobile-view .social-media-wrapper {
		padding: 0 1.6rem;
		text-align: center;
		display: none;
	}
	.mobile-view .social-media-wrapper .social-icons {
		justify-content: center;
		margin-top: 1rem;
	}
	.social-media-wrapper button {
		width: 100%;
	}
	.nav-menu.nav-wrap.open .mobile-view .social-media-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column-reverse;		
	}
}
@media (max-width: 767px){
	body.admin-bar .navbar-top.no-header-image {
		top: 2.6rem;
	}
	body .navbar-top .row .nav-logo a {
		width: 10rem;
	}
	.navbar-top ul.navbar-nav > li > a {
		padding: 0.5rem 0.7rem;
	}
	body .navbar-top.animated-initial.animated-passed.animated {
		padding-bottom: 3rem;
	}
	.navbar-top ul.navbar-nav > .current-menu-item > a:after {
		display: none;
	}
}
@media (max-width: 480px){
	body.admin-bar .navbar-top.no-header-image {
		top: 2.6rem;
	}
}