/* UberMenu - Copyright 2011-2023, SevenSpark */
.ubermenu-skin-grey-white {
  font-size: 12px;
  color: #888;
}
.ubermenu-skin-grey-white .ubermenu-target {
  color: #555;
}
.ubermenu-skin-grey-white .ubermenu-target-description {
  color: #aaa;
}
.ubermenu-skin-grey-white.ubermenu-responsive-toggle {
  background: #222;
  color: #eee;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.ubermenu-skin-grey-white.ubermenu-responsive-toggle:hover {
  background: #111;
  color: #fff;
}
.ubermenu-skin-grey-white {
  border: none;
  background: #222;
}
.ubermenu-skin-grey-white .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target,
.ubermenu-skin-grey-white .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target,
.ubermenu-skin-grey-white .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target {
  color: #fff;
  background: #000;
}
.ubermenu-skin-grey-white .ubermenu-item.ubermenu-item-level-0 > .ubermenu-highlight {
  color: #4d90fe;
  background: transparent;
}
.ubermenu-skin-grey-white.ubermenu-vertical .ubermenu-item-level-0 > .ubermenu-target {
  background: #222;
}
.ubermenu-skin-grey-white .ubermenu-item-level-0 > .ubermenu-target {
  font-weight: bold;
  color: #d9d9d9;
  text-transform: uppercase;
  border-left: none;
}
body:not(.rtl) .ubermenu-skin-grey-white.ubermenu-horizontal .ubermenu-item-level-0:first-child > .ubermenu-target {
  box-shadow: none;
}
.ubermenu-skin-grey-white .ubermenu-item-level-0:hover > .ubermenu-target,
.ubermenu-skin-grey-white .ubermenu-item-level-0.ubermenu-active > .ubermenu-target {
  background: #000;
  color: #fff;
}
.ubermenu-skin-grey-white .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target {
  color: #d9d9d9;
}
.ubermenu-skin-grey-white .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target:hover {
  color: #fff;
}
.ubermenu-skin-grey-white .ubermenu-submenu.ubermenu-submenu-drop {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
}
.ubermenu-skin-grey-white.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop {
  border-top: none;
}
.ubermenu-skin-grey-white .ubermenu-tab-content-panel {
  background: #f9f9f9;
}
.ubermenu-skin-grey-white .ubermenu-submenu,
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-target {
  color: #555;
}
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-highlight {
  color: #4d90fe;
}
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-target:hover,
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-active > .ubermenu-target {
  color: #111;
}
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-target > .ubermenu-target-description {
  color: #aaa;
}
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-active > .ubermenu-target > .ubermenu-target-description {
  color: #666;
}
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-item-header > .ubermenu-target {
  font-weight: bold;
  color: #555;
}
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target {
  border-bottom: 1px solid #e9e9e9;
}
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-item-header > .ubermenu-target:hover {
  color: #222;
}
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-current-menu-item > .ubermenu-target {
  color: #222;
  background: transparent;
}
.ubermenu-nojs.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover > .ubermenu-target,
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target {
  background: #eee;
  color: #111;
}
.ubermenu-skin-grey-white .ubermenu-tabs-group,
.ubermenu-skin-grey-white .ubermenu-tab > .ubermenu-target,
.ubermenu-skin-grey-white .ubermenu-tab-content-panel {
  border-color: #eee;
}
.wp-block-ubermenu-ubermenu-block > div {
  margin: 0;
}
.ubermenu-skin-grey-white .ubermenu-submenu-drop {
  border-bottom-width: 3px;
}
.ubermenu-skin-grey-white.ubermenu-transition-fade .ubermenu-item .ubermenu-submenu-drop {
  margin-top: 0;
}
